.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.container {
  /* max-width: 1400px;
  margin: 0 auto; */
  padding: 0 20px;
  box-sizing: border-box;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navLink {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.navLink:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.navLink:hover:after,
.navLink.active:after {
  width: 100%;
}

.logo {
  font-family: var(--font-cormorant), serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.mobileMenu {
  width: 30px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  /* .navLink {
    font-size: 10px;
  }

  .logo {
    font-size: 24px;
  } */
}

