.booking {
    width: 100%;
    max-width: 1400px;
    padding: 150px 0;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.top {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.headingLarge {
    font-family: var(--font-cormorant), serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.avatar {
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
}

.formContainer {
    width: 50%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (max-width: 1024px) {
    .booking {
        padding: 100px 0;
    }

    .bottom {
        flex-direction: column;
    }

    .avatar {
        width: 100%;
        max-width: 700px;
    }

    .formContainer {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .top {
        padding: 20px;
    }

    .avatar, .formContainer {
        padding: 20px;
    }

    .headingLarge {
        font-size: 1.5rem;
    }
}